<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>NSLocationWhenInUseUsageDescription</key>
    <string>需要获取位置信息用于地图显示</string>
    <key>NSLocationAlwaysUsageDescription</key>
    <string>需要获取位置信息用于地图显示</string>
    <key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
    <string>需要获取位置信息用于地图显示</string>
    <key>io.flutter.embedded_views_preview</key>
    <true/>
    <key>BMKAppKey</key>
    <string>qDTXqaahwzKE8igpc8HnOtaH5QuiJ</string>
</dict>
</plist>